/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.hero {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/backgrounds/h_img.jpg");

}

.hero .desc .mouse {
    position: absolute;
    bottom: 5%;
}

.services {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/backgrounds/s_image.jpg");
}

.what-we-do .container .row .wedo,
footer .socials,
.portfolio .row .project {
    cursor: pointer;
}

.portfolio .row .project {
    position: relative;
}

.portfolio .row .project .hover-text {
    position: absolute;
    top: 50%;
    left: 40%;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 0;
}

.contact {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/backgrounds/c_image.jpg");
}